<header  class="bg-white container max-w-full h-20 items-center inset-0 flex justify-between fixed border-b border-solid border-gray-400">
    <a href="{%url "core:home" %}">Review_Home</a>
    <a href="{% url "core:search" %}">Search</a>
    <a href="{% url "genre:genre" %}">Categoty</a>
    <ul>
        <div class="flex justify-between">
            
        {% if user.is_authenticated %}
        <li><a href="{% url "users:logout" %}">Log out</a></li>
        <li><a href="{% url "users:profile" user.pk %}">Profile</a></li>
        {% else %}
        <li><a href="{% url "users:login" %}">Log in</a></li>
        <li><a href="{% url "users:signup" %}">Sign up</a></li>
        {% endif %}
    </div>   
        
    </ul>
</header>
   

  
