<header  class="bg-gray-800 container max-w-full h-20 items-center inset-0 flex justify-between fixed border-b-2 border-solid border-gray-400">
    <a href="{%url "core:home" %}">Home</a>
    <a href="{% url "core:search" %}"><i class="fas fa-search fa-lg"></i></a>
    <a href="{% url "genre:genre" %}"><i class="fas fa-clipboard-list fa-lg"></i></a>
    <div>
        <div class="flex justify-between ">
            
        {% if user.is_authenticated %}
       
        <div><a class="px-2 py-7 border-b-2 hover:border-red-400 mr-2" href="{% url "users:logout" %}">Log out</a></div>
        <div><a class="px-2 py-7 border-b-2 hover:border-red-400" href="{% url "users:profile" user.pk %}">Profile</a></div>
        
        {% else %}
        
        <div><a class="px-2 py-7 border-b-2 hover:border-red-400 mr-2" href="{% url "users:login" %}">Log in</a></div>
        <div><a class="px-2 py-7 border-b-2 hover:border-red-400" href="{% url "users:signup" %}">Sign up</a></div>
        {% endif %}
    </div>   
        
    </div>
</header>
   

  
