<header  class="bg-white container max-w-full h-20 items-center inset-0 flex justify-between fixed border-b border-solid border-gray-400">
    <a href="{%url "core:home" %}">Review_Home</a>
    <a href="{% url "core:search" %}">Search</a>
    <a href="{% url "genre:genre" %}">Categoty</a>
    <div>
        <div class="flex justify-between">
            
        {% if user.is_authenticated %}
       
        <div><a class="py-7 border-b-2 border-white hover:border-red-300" href="{% url "users:logout" %}">Log out</a></div>
        <div><a class="py-7 border-b-2 border-white hover:border-red-300" href="{% url "users:profile" user.pk %}">Profile</a></div>
        
        {% else %}
        
        <div><a class="py-7 border-b-2 border-white hover:border-red-300" href="{% url "users:login" %}">Log in</a></div>
        <div><a class="py-7 border-b-2 border-white hover:border-red-300" href="{% url "users:signup" %}">Sign up</a></div>
        {% endif %}
    </div>   
        
    </div>
</header>
   

  
