<div class="mt-20">
    <form method="post" class="flex flex-col items-center" >
        {% csrf_token%}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors%}
                <span>{{error}}</span>
            {% endfor %}
        {% endif %}

        {% for field in form%}
        <div class="mt-4">{{field.label}}
           <div class=" text-indigo-500">{{field}}</div>
        </div> 
        {% endfor %}

        <button class="bg-yellow-400 py-4 px-10 rounded-lg mt-10">{{cta}}</button>
    </form>
</div>