
    {% extends "base.html" %}
    
    
    {% block page_title %}
        {{page_title}}
    {% endblock page_title %}
        
    
    {% block content %}

    <div>Movies</div>
    <div class="flex flex-wrap">
        {% for movie in movies %}
        {% include 'mixins/movie.html' with movie=movie %}
        {% endfor %}

    
    </div>

    <div> 
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.number|add:-1}}">Previous</a>
        {% endif %}
        page: {{page_obj.number}} / {{page_obj.paginator.num_pages}} 
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.number|add:1}}">Next</a>
        {% endif %}
    </div>
        
    {% endblock content %}
    
        
   
