{% extends 'base.html' %}


{% block page_title %}

    {{movie}}
{% endblock page_title %}
    
{% block content %}
<div>  
    <h2>Title: {{movie.title}}</h2>
    <h4>{{movie.year}}</h4>
     <h4>Avg rate: {{movie.total_rating}}</h4>
</div>
<div>
    <h5>by {{movie.director}}</h5>
    with 
        {% for cast in movie.cast.all %}
          
    <h5>  {{cast}}</h5>
          
        {% endfor %}


</div>

<div>
    <a href="{% url "movies:edit" movie.pk %}">Edit Movie</a>
</div>
{% endblock content %}