
    {% extends "base.html" %}
    
    
    {% block title %}
       Genre
    {% endblock title %}
        
    
    {% block content %}
<div class="inset-0 mt-20 flex flex-col items-center justify-center"> 
    <div class="mt-10 text-2xl font-bold text-purple-500">Genres</div>
<div class="mt-10 text-center text-xl text-pink-400">
    {% for genre in genres %}
<div class="mb-4"><a href="{%url "genre:detail" genre.pk %}">{{genre}}</a> </div>
    {% endfor %}


</div>
</div>
   
    {% endblock content %}
    
        
   
