{% extends 'base.html' %}


{% block page_title %}

    {{user}}'s FavLists
{% endblock page_title %}
    
{% block content %}
<div class="mt-20 flex flex-col items-center mb-10">
    <div class="container mx-auto flex flex-col items-center mb-10">  
       
        <div class="mt-10 text-xl">{{writer}}</div>
        <div class="mt-10 w-1/2 flex justify-between">
            <div class="mt-10"><span class=" text-xl font-bold text-gray-600">Movie</span>
            {% for movie in movies %}
                <div class="mt-5">{{movie}}</div> 
            {% endfor %}
            </div>
            <div class="mt-10"><span class=" text-xl font-bold text-gray-600">Book</span>
            {% for book in books %}
                <div class="mt-5">{{book}}</div> 
            {% endfor %}
            </div>
        </div>
        
        
    </div>

<div class="mt-10 bg-yellow-300 py-4 px-8 rounded-md">
    <a href="{% url "core:home"%}">Back Home</a>
</div>

</div>
{% endblock content %}