
    {% extends "base.html" %}
    
    
    {% block page_title %}
        {{page_title}}
    {% endblock page_title %}
        
    
    {% block content %}

    <h1>Movies
        <a href="{% url "movies:create" %}">-Create-</a>
    </h1>
    <a href="{% url "movies:movies" %}">More Movies</a>
    <div>
        {% for movie in movies.object_list %}
   
    <div style="background-image: url({{movie.cover_image.url}});"></div>  
        {{movie|capfirst}} : {{movie.rating}} by {{movie.director|capfirst}}
    
        {% endfor %}

    </div>

    <div> 
        {% if movies.has_previous %}
            <a href="?page1={{movies.number|add:-1}}">Previous</a>
        {% endif %}
        page: {{movies.number}} / {{movies.paginator.num_pages}} 
        {% if movies.has_next %}
            <a href="?page1={{movies.number|add:1}}">Next</a>
        {% endif %}
    </div>
    <hr />

    <h1>Books
        <a href="{% url "books:create" %}">-Create-</a>
    </h1>
    <h4><a href="{% url "books:books" %}">More Books</a><h4>
    <div>
        {% for book in books.object_list %}
    <h3>
        <div style="background-image: url({{book.cover_image.url}});"></div>
        {{book|capfirst}} : {{book.rating}} by {{book.writer|capfirst}}</h3>
        {% endfor %}
    </div>
    <div> 
        {% if books.has_previous %}
            <a href="?page2={{books.number|add:-1}}">Previous</a>
        {% endif %}
        page: {{books.number}} / {{books.paginator.num_pages}} 
        {% if books.has_next %}
            <a href="?page2={{books.number|add:1}}">Next</a>
        {% endif %}
    </div>
    <hr />

       <h1>People
        <a href="{% url "people:create" %}">-Create-</a>
       </h1>
       <h4><a href="{% url "people:people" %}">More People</a><h4>
    <div>
        {% for people in people.object_list %}
    <h3>{{people|capfirst}} : {{people.kind |capfirst}} </h3>
        {% endfor %}
    </div>
    <div> 
        {% if people.has_previous %}
            <a href="?page3={{people.number|add:-1}}">Previous</a>
        {% endif %}
        page: {{people.number}} / {{people.paginator.num_pages}} 
        {% if people.has_next %}
            <a href="?page3={{people.number|add:1}}">Next</a>
        {% endif %}
    </div>
   
        
    {% endblock content %}
    