
    {% extends "base.html" %}
    
    
    {% block title %}
        Search
    {% endblock title %}
        
    
    {% block content %}

    <div class="mt-20">What are u looking for?</div>
    <form class="search" method="get" action="{% url "core:search" %}">
        <select name="name" value={{category.name}}>   {% for category in categories %}
            <option value="{{category.name}}" {%if category.name == name%} selected {% endif %}>{{category.name}}</option>
            {% endfor %}</select>
        <button>Search</button>
    </form>

    
 


    {% endblock content %}
   