{% extends "base.html" %}
    
    
{% block page_title %}
    {{user_obj.first_name}}'s proifle'
{% endblock page_title %}
    

{% block content %}

<form method="post" action="{% url "users:profile" user.pk%}">
    {% csrf_token %}
    <div>Name: {{user_obj.first_name}}</div>
    <div>Email: {{user_obj.email}}</div>
    <div>Bio: {{user_obj.bio}}</div>
    <div>Preference: {{user_obj.preference}}</div>
    <div>Language: {{user_obj.language}}</div>
    
    <a href="{% url "users:update-profile"%}">Update Profile</a>
    </form>



{% endblock content %}